
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.legal-text {
  font-family: Synchrony, Arial, sans-serif;
  font-size: 11pt!important;
  line-height: 1.4;
  color: #666666!important;
  text-align: left;
  padding: 0 16px;
  max-width: 100%;
}
