@font-face {
  font-family: 'SynchronySans';
  src: url('assets/fonts/SynchronySansNormal_v100.ttf') format('truetype'),
  url('assets/fonts/SynchronySansBold_v100.ttf') format('truetype'),
  url('assets/fonts/SynchronySansMedium_v100.ttf') format('truetype'),
  url('assets/fonts/SynchronySansThin_v100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SynchronySansBold';
  src: url('assets/fonts/SynchronySansBold_v100.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'SynchronySansItalic';
  src: url('assets/fonts/SynchronySansMediumItalic_v100.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'SynchronySansThin';
  src: url('assets/fonts/SynchronySansThin_v100.ttf') format('truetype');
  font-weight: 300;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, h1,h2, h3, h4, h5 {
  margin: 0;
  font-family: 'SynchronySans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h4 {
  font-family: 'Synchrony Sans Medium', sans-serif;
  font-size: 24px;
  margin: 0;
}
h6{
  text-align: center;
}