body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1 { text-align: center; margin-top: 20px; }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2e7d32;
}

.sub-title {

    font-family: 'SynchronySansBold', sans-serif;
    font-size: 24px;
    margin: 0;
}
.legal-text {
     font-family: Synchrony, Arial, sans-serif;
     font-size: 11pt;
 }